/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 996px) {
  .heroBanner {
    padding: 48px 26px !important;
  }
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.web3infraDes {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 986px;
  color: rgba(255,255,255,0.85);
  line-height: 22px;
  /* or 140% */
  margin: 0 auto 64px;
}
@media (max-width: 1000px) {
  .web3infraDes{
    width: auto !important;
    margin: 0 auto 32px !important;
  }
}