/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 996px) {
  .heroBanner {
    padding: 48px 26px !important;
  }
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnName{
  color: black;
  background-color: #E5E5E5;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none !important;
}
.btnName:hover{
  color: black !important;
}


.web3infraDes {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  width: 820px;
  color: rgba(255,255,255,0.85);
  line-height: 26px;
  /* or 140% */
  margin: 0 auto 64px;
}
@media (max-width: 1000px) {
  .web3infraDes{
    width: auto !important;
    margin: 0 auto 32px !important;
  }
}