.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #F8FCF9;
}

html[data-theme='dark'] .features{
  background-color: #071e0e;
}

.partnerSvg {
  margin-bottom: 40px;
  height: 80px;
  width: 252px;
  transition: all .3s;
}
.partnerSvg:hover{
  transform: scale(1.1);
}

.usedBy {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.link {
  color: inherit;
}
.link:hover {
  text-decoration: none;
}
